html, body, main, div, header, footer, section, div, ol, li, figure, img, figcaption, label, p, h1, h2, h3, button {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr, 7fr, 1fr;
    min-height: 100vh;
    background-color: #181818;
    color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-area: 1 / 1 / 2 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
}

h1 {
    grid-area: 1 / 1 / 2 / 8;
    font-size: 1.8rem;
    padding: 10px;
}

select {
    font-size: 16px;
    margin-left: 5px;
}

.container_select {
    display: flex;
}

#meteo {
    grid-area: 1 / 9 / 2 / 13;
}

.meteoIcon {
    width: 100px;
}

.meteo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meteo-titre {
    text-transform: capitalize;
}

main {
    grid-area: 2 / 1 / 3 / 13;
    color: #080808;
}

footer {
    grid-area: 3 / 1 / 4 / 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    margin: 5px;
}

h3 {
    font-size: 1rem;
}

.container_legende {
    grid-area: 2 / 1 / 3 / 13;
    background-color: #f8f8f8;
    color: #080808;
    padding: 5px;
    margin: 10px;
}
.container_legende_info {
    display: flex;
    justify-content: space-between;
}

.container_legende_info section {
    margin: 5px 15px;
}

.petit_parc, .moyen_parc, .grand_parc {
    width: 20px;
    height: 20px;
}

.petit_parc {
    background-color: #80c599;
}

.moyen_parc {
    background-color: #3d8256;
}

.grand_parc {
    background-color: #0f4e26;
}

.deux_saisons, .quatre_saisons {
    width: 5px;
    height: 25px;
    transform: rotate(35deg);
    margin: 0 5px;
}

.deux_saisons {
    background-color:#4bbdcd ;
}

.quatre_saisons {
    background-color: #0e7988;
}

ol li img {
    width: 25px;
    height: auto;
}

ol {
    list-style-type: none;
}

ol li {
    display: flex;
    align-items: center;
}

#map {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    padding: 0;
}

p {
    padding: 5px;
}

figure {
    padding: 10px;
}

img {
    width: 100%;
}

figcaption {
    margin-top: 10px;
}

@media (min-width: 600px) {
    html {
        font-size: 100%;
    }
}

@media (min-width: 950px) {
    html {
        font-size: 105%;
    }
    
    h1 {
        grid-area: 1 / 1 / 3 / 4;
    }

    #meteo {
        grid-area: 1 / 11 / 3 / 13;
    }

    .container_legende {
        grid-area: 1 / 4 / 3 / 10;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 110%;
    }
}